src/test/resources/wsdl/qryCommonUserInfoReq.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:qryCommonUserInfoReq="http://ws.chinaunicom.cn/UsrForNorthSer/unibssBody/qryCommonUserInfoReq" targetNamespace="http://ws.chinaunicom.cn/UsrForNorthSer/unibssBody/qryCommonUserInfoReq" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:element name="QRY_COMMON_USER_INFO_REQ"> 
    <xs:annotation> 
      <xs:documentation>无</xs:documentation> 
    </xs:annotation>  
    <xs:complexType> 
      <xs:sequence> 
        <xs:element name="X_GETMODE" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>查询方式:</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="4"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="BRAND_CODE" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>品牌编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="4"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="SERVICE_CLASS_CODE" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>电信类型编码，编码见附录</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="4"/>  
              <xs:minLength value="4"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="AREA_CODE" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>区号</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="6"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="SERIAL_NUMBER" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>服务号码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="40"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="CERT_TYPE_CODE" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>证件类别编码，见附录</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="2"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="CERT_CODE" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>证件号码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="100"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="CITY_CODE" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>业务区</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="20"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="CUST_ID" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>客户标识</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="16"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="PRODUCT_ID" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>产品编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="8"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="CONTRACT_ID" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>合同号</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="50"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="ACCT_ID" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>账户编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="16"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="ACCT_TAG" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>出账标识</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="1"/>  
              <xs:minLength value="1"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="DEFAULT_TAG" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>默认账户标识</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="1"/>  
              <xs:minLength value="1"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="EPARCHY_CODE" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>地州编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="6"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="USER_ID" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>用户标识</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="16"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="REMOVE_TAG" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>注销标识</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="1"/>  
              <xs:minLength value="1"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="RES_CODE" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>资源编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="40"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="USER_NAME" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>用户名称</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="20"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="RELATION_TYPE_CODE" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>关系类型</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="4"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="PREPAY_TAG" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>预付费标记</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="1"/>  
              <xs:minLength value="1"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="NUM" minOccurs="0" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>条数</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="4"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="PARA" minOccurs="0" maxOccurs="unbounded"> 
          <xs:annotation> 
            <xs:documentation>保留字段</xs:documentation> 
          </xs:annotation>  
          <xs:complexType> 
            <xs:sequence> 
              <xs:element name="PARA_ID" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>保留字段ID</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="20"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PARA_VALUE" minOccurs="1" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>保留字段值</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="60"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element> 
            </xs:sequence> 
          </xs:complexType> 
        </xs:element> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element> 
</xs:schema>

