src/test/resources/wsdl/queryVagueInfoRsp.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:queryVagueInfoRsp="http://ws.chinaunicom.cn/UsrForNorthSer/unibssBody/queryVagueInfoRsp" targetNamespace="http://ws.chinaunicom.cn/UsrForNorthSer/unibssBody/queryVagueInfoRsp" elementFormDefault="qualified" attributeFormDefault="unqualified">  
  <xs:element name="QUERY_INFO_BY_VAGUE_RSP"> 
    <xs:annotation> 
      <xs:documentation>无</xs:documentation> 
    </xs:annotation>  
    <xs:complexType> 
      <xs:sequence> 
        <xs:element name="RESP_CODE" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>应答编码</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="4"/>  
              <xs:minLength value="4"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="RESP_DESC" minOccurs="1" maxOccurs="1"> 
          <xs:annotation> 
            <xs:documentation>应答描述</xs:documentation> 
          </xs:annotation>  
          <xs:simpleType> 
            <xs:restriction base="xs:string"> 
              <xs:maxLength value="500"/>  
              <xs:minLength value="0"/> 
            </xs:restriction> 
          </xs:simpleType> 
        </xs:element>  
        <xs:element name="QUERY_INFO_BY_VAGUE_INFO_RSP" minOccurs="0" maxOccurs="unbounded"> 
          <xs:annotation> 
            <xs:documentation>返回子信息</xs:documentation> 
          </xs:annotation>  
          <xs:complexType> 
            <xs:sequence> 
              <xs:element name="EPARCHY_CODE" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>地市编码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="8"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="CITY_CODE" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>业务区编码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="8"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="CUST_NAME" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>客户名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PSPT_TYPE_CODE" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>证件类型</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1"/>  
                    <xs:minLength value="1"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PSPT_ID" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>证件号码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="CUST_ID" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>客户编码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="20"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="USER_ID" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>用户标识</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="20"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="ACCT_ID" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>账户标识</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="20"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="NET_TYPE_CODE" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>电信类别编码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="4"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="BRAND_CODE" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>品牌编码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="4"/>  
                    <xs:minLength value="4"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PRODUCT_ID" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>产品id</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="8"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="SERIAL_NUMBER" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>逻辑号码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="40"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="FIX_NUMBER" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>物理号码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="40"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="ACCT_NBR" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>上网账号</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="40"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="DETAIL_INSTALL_ADDRESS" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>装机地址</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1000"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="MOFFICE_ID" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>局向ID</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="50"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="ADDRESS_ID" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>地址编码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="50"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="COMMUNIT_ID" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>社区ID</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="50"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="COMMUNIT_NAME" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>社区名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="CUST_MANAGER_ID" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>社区经理ID</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="50"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="CUST_MANAGER_NAME" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>社区经理名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="LINK_NAME" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>联系人</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="LINK_PHONE" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>联系方式</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="40"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="BILL_NUM" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>计费编码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="50"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="CIRCUIT_NUM" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>电路号码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="50"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PIM_NUM" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>机身码</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="50"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="ICCID" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>ICCID</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="50"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PARENT_TYPE_CODE" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>网别大类（0为G网、1为固网）</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1"/>  
                    <xs:minLength value="1"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="EPARCHY_NAME" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>地州名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="CITY_NAME" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>城市名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="NET_TYPE_NAME" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>电信类别名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="BRAND_NAME" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>品牌名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="MOFFICE_NAME" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>局向名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PRODUCT_NAME" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>产品名称</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="100"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="BALANCE" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>欠费金额</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="40"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="ACNTBALANCE" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>用户结余</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="40"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="RSRV_STR1" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>扩展1</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1000"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="RSRV_STR2" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>扩展2</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1000"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="RSRV_STR3" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>扩展3</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1000"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="RSRV_STR4" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>扩展4</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1000"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="RSRV_STR5" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>扩展5</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1000"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="RSRV_STR6" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>扩展6</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1000"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="RSRV_STR7" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>扩展7</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1000"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="RSRV_STR8" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>扩展8</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1000"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="RSRV_STR9" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>扩展9</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1000"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="RSRV_STR10" minOccurs="0" maxOccurs="1"> 
                <xs:annotation> 
                  <xs:documentation>扩展10</xs:documentation> 
                </xs:annotation>  
                <xs:simpleType> 
                  <xs:restriction base="xs:string"> 
                    <xs:maxLength value="1000"/>  
                    <xs:minLength value="0"/> 
                  </xs:restriction> 
                </xs:simpleType> 
              </xs:element>  
              <xs:element name="PARA" minOccurs="0" maxOccurs="unbounded"> 
                <xs:annotation> 
                  <xs:documentation>保留字段</xs:documentation> 
                </xs:annotation>  
                <xs:complexType> 
                  <xs:sequence> 
                    <xs:element name="PARA_ID" minOccurs="1" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>保留字段id</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="4000"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element>  
                    <xs:element name="PARA_VALUE" minOccurs="0" maxOccurs="1"> 
                      <xs:annotation> 
                        <xs:documentation>保留字段值</xs:documentation> 
                      </xs:annotation>  
                      <xs:simpleType> 
                        <xs:restriction base="xs:string"> 
                          <xs:maxLength value="4000"/>  
                          <xs:minLength value="0"/> 
                        </xs:restriction> 
                      </xs:simpleType> 
                    </xs:element> 
                  </xs:sequence> 
                </xs:complexType> 
              </xs:element> 
            </xs:sequence> 
          </xs:complexType> 
        </xs:element> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element> 
</xs:schema>

